.main-container
  .side
    .side-box__choice
      マイページ
    = link_to "出品する", new_item_path, class: "side-box"
    = link_to "出品した商品-出品中", {controller: "users", action:"edit", name: "_exhibiting"}, class: "side-box"
    = link_to "出品した商品-取引中", {controller: "users", action:"edit", name: "_exhibition-trading"}, class: "side-box"
    = link_to "出品した商品-売却済み", {controller: "users", action:"edit", name: "_exhibition-sold"}, class: "side-box" 
    = link_to "購入した商品-取引中", {controller: "users", action:"edit", name: "_buy_product-trading"},class: "side-box"
    = link_to "購入した商品-過去の取引", {controller: "users", action:"edit", name: "_buy_product"},class: "side-box" 
    = link_to "#",class: "side-box" do
      評価一覧
    .side-info
      設定
    = link_to "#",class: "side-box" do
      プロフィール
    = link_to "#",class: "side-box" do
      発送元・お届け先住所変更
    = link_to "クレジットカード", new_card_path, class: "side-box"
    = link_to "#",class: "side-box" do
      メール/パスワード
    = link_to "#",class: "side-box" do
      本人情報
    = link_to "#",class: "side-box" do
      電話番号の確認
    = link_to "ログアウト", logout_signup_index_path, class: "side-box"
  .right
    .header
      .user-box
        .user-box__image 
        .user-box__name
          name
        .user-box__status
          .user-box__status--evaluation
            評価
          .user-box__status--number-of-exhibits
            出品数
    .mypage-tab
      .mypage-tab__title--choice
        やることリスト
      .mypage-tab__title
    .mypage-tab__text
      現在やることはありません